{% extends 'account/base.html' %}
{% load static%}
{% block title%}
    Login | Xonic
{%endblock%}
{% block content%}
<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-8">
        <div class="card">
            <div class="card-body p-4">
                <div class="">
                    <div class="text-center">
                        <a href="index.html" class="">
                            <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="24" class="auth-logo logo-dark mx-auto">
                            <img src="{% static 'assets/images/logo-light.png' %}" alt="" height="24" class="auth-logo logo-light mx-auto">
                        </a>
                    </div>
                    <!-- end row -->
                    <h4 class="font-size-18 text-muted mt-2 text-center">Welcome Back !</h4>
                    <p class="mb-5 text-center">Sign in to continue to Xonic.</p>
                    <form class="form-horizontal m-t-20" id="loginform" method="POST" action="{% url 'account_login' %}?next=/dashboard/">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-4">
                                    <label class="form-label" for="{{form.login.auto_id}}">Username</label>
                                    <input type="text" class="form-control" id="{{form.login.auto_id}}" name="{{form.login.html_name}}" placeholder="Enter username">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="{{form.password.auto_id}}">Password</label>
                                    <input type="password" class="form-control" id="{{form.password.auto_id}}" name="{{form.password.html_name}}" placeholder="Enter password">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customControlInline">
                                            <label class="form-label" class="form-check-label" for="customControlInline">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="text-md-end mt-3 mt-md-0">
                                            <a href="{% url 'account_reset_password' %}" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid mt-4">
                                    <button class="btn btn-primary waves-effect waves-light" type="submit">Log In</button>
                                </div>
                                <div class="col" style="text-align: center;"><a href="{{ signup_url }}">sign up</a></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mt-5 text-center">
            <p class="text-white-50">© <script>document.write(new Date().getFullYear())</script> <a href="#">232</a></p>
        </div>
    </div>
</div>
{%endblock%}