{% extends 'base.html' %} {% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="font-size-40 mt-2 text-center">Create Post</h4>
            </div>
        </div>
    </div>
    <div class="container mt-3">
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete "{{ post.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'post_detail' post.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</div>
{% endblock %}