{% extends 'base.html' %}

{% block title %}Studysys - Dashboard for {{ object.username }}{% endblock %}

{% block pageheading %}

{% endblock %}

{% block pageheading2 %}

{% endblock %}

{% block contentbody %}
{% if user.password %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Change Password</h3>
    </div>
    <div class="card-body" style="width: 85vw;">
        <form action="{% url 'users:change_user_pwd' id %}"  method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row" style="padding-top: 0.8rem; padding-bottom: 0.2rem;">
                <div class="col-md-4">

                    {{ form.old_password.label }}
                    {{form.old_password}}
                    <!-- <div class="alert alert-error"> -->
                        <strong style="color: red;font-size: 12px;">{{form.old_password.errors}}</strong>
                    <!-- </div> -->
                    
                </div>
            </div>
            <div class="row" style="padding-top: 0.8rem; padding-bottom: 0.2rem;">

                <div class="col-md-4">
                    {{ form.new_password1.label }}
                    {{form.new_password1}}
                    <!-- <div class="alert alert-error"> -->
                        <strong style="color: red;font-size: 12px;">{{form.new_password1.errors}}</strong>
                    <!-- </div> -->
                    
                </div>
            </div>
            <br><span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
            <div class="row" style="padding-top: 0.8rem; padding-bottom: 0.2rem;">

                <div class="col-md-4">
                    {{ form.new_password2.label }}
                    {{form.new_password2}}
                    <!-- <div class="alert alert-error"> -->
                        <strong style="color: red;font-size: 12px;">{{form.new_password2.errors}}</strong>
                    <!-- </div> -->
                    
                </div>
            
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top: 1rem;">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div> 
        </form>
    </div>
</div>
{% endif %}
{% block js %}
<script>
    $(document).ready(function() {
        $('#id_old_password').addClass('form-control');
        $('#id_new_password1').addClass('form-control');
        $('#id_new_password2').addClass('form-control');
    } );
</script>
{% endblock js %}
{% endblock %}