{% extends 'base.html' %}
{% block content %}
<table class="table table-dark table-bodered" style="padding-top: 15rem; padding-left:5rem;margin-top:5rem;">
<thead>
    <tr>
        <th>
        Symbol
            
        </th>
        <th>
            price
        </th>
        <th>
            stop_amount
        </th>
        <th>
            take_profit_amount
        </th>
        <th>
            created on
        </th>
        <th>
            followed_by
        </th>
        <th>
            Actions
        </th>
    </tr>
</thead>
<tbody>
    {% for trade in trades  %}
    <tr>
        <td>
            {{trade.symbol}}
        </td>
        <td>
            {{trade.price}}
        </td>
        <td>
            {{trade.stop_amount}}
        </td>
        <td>
            {{trade.take_profit_amount}}
        </td>
        <td>
            {{trade.created_on}}
        </td>
        <td>
            {{ trade.follow_count }} Users
        </td>
        <td>
            <a href="{% url 'signalbot:displaysignalfollowers' trade.id %}" class="btn btn-primary btn-sm">Check Followers</a>
        </td>
    </tr>
    {% endfor %}
</tbody>

</table>
{% endblock content %}